<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .container{
            max-width: 1280px;
            margin-left: auto;
            margin-right: auto;
        }
        .post{
            background-color:#c6c6fd;
            margin-bottom: 50px;
            padding: 7px 20px;
        }
    </style>
</head>
<body>


<div class="container">
    {% for author in posts %}
        {% for post in author %}
            <div class="post">
                <p style="margin-bottom: 0;">title: {{ post.Name }}</p>
                <p style="max-width: 200px; color:blue">Description: {{ post.description }}</p>
                <p style="margin-bottom: 0px;">Date: {{ post.date }}</p>
            </div>
        {% endfor %}
    {% endfor %}
</div>

<h1>Author: {{ name }}</h1>
<h2>Profession: {{ profession }}</h2>
</body>
</html>